/* tab1: calender */
.calender_header {
    display: flex;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.calender_link_area {
    width: 3rem;
    font-size: 2.5rem;
    cursor: pointer;
}
.calender_link_angle{
    cursor: pointer;
}
.calender_form_area {
    width: calc(100% - 6rem);
    font-size: 1.25rem;
}


.calender {
    text-align:center;
    font-size:1.5rem;
    border:solid 0.2rem black;
    /* カレンダーを中央に配置。 */
    margin:0.5rem auto 0;
}
.calender td{ 
    padding:0.5rem;
    border:solid 0.1rem black;
}
.calender td:nth-child(1) {
    color:crimson;
}
.calender td:nth-child(7) {
    color:royalblue;
}
.calender_head {
    font-weight:bold;
    border-bottom:double 0.2rem black;
}


